@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'outfit',sans-serif;

 
}

body{
  background:  rgb(146, 100, 231) 

}
/* background-image: url("https://tse1.mm.bing.net/th?id=OIP.AplJ89WgytdMwJayhJPb-gHaEK&pid=Api&P=0&h=180");
  

    background-repeat: no-repeat;

  
  
 */



h1,h4,p,a,h2,h3,h5{
  color:white;
  text-decoration: none;
 
}

ul{
  list-style-type: none;
}